/*
 */

 /* ***** general layout ***** */
.brick {
    margin: 1.5rem;
}

/* ***** font styling ***** */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a,
a:visited,
a:active {
    color: #0000cc;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25em;
}


      /* styling */
      /*button {
        background-color: #0000cc;
        margin: 0;
        border: 0;
        color: #eeeeee;
      }
      label,
      .input-caption {
        display: block;
        font-size: 0.75em;
        padding-bottom: 0.25em;
      }
      .box {
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 2px;
        padding: 0.25em;
      }
      .box h2 {
        margin: 0;
      }
      .box p {
        margin-bottom: 0;
      }
      .align-right {
        text-align: right;
      }
      .element {
        width: 30rem;
        background-color: #bbbbbb;
        border: 1px solid #000000;
      }
      .error-box {
        background-color: #cc6666;
        border-color: #990000;
      }
      .error-box h2 {
        color: #990000;
      }
      .form-atom {
        border-radius: 0.25rem;
        font-size: 1.5em;
        padding: 0.125em 0.25em;
        width: 100%;
      }
      .info-box {
        background-color: #66cc66;
        border-color: #006600;
      }
      .info-box h2 {
        color: #006600;
      }
      input.form-atom {
        background-color: #eeeeee;
        border: none;
        border-bottom: 2px solid #000000;
        text-align: center;
      }*/
